@*@model LicenseStatistic

    <div class="">
        <a class="btn btn-danger navbar-btn"
           asp-controller="LicenseStatistic" asp-action="Statistic"
           asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">See Statistic</a>
    </div>*@