@*@model LicenseStatisticViewModel
<h2>Statistic</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>PDMAverageUse</th>
            <th>SolidworksAverageUse</th>
            <th>PDMViewerAverageUse</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td class=" text-sm-left">@Model.LicenseStatistics.PDMAverageUse</td>
            <td class="text-center">@Model.LicenseStatistics.SolidworksAverageUse</td>
            <td class="text-left">@Model.LicenseStatistics.PDMViewerAverageUse</td>
        </tr>


    </tbody>
    <tr>
        <td></td>
    </tr>
</table>*@